name: Build and Push Go App to GHCR

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]

jobs:

  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v6
      with:
        go-version: '1.25.5'
        cache: true

    - uses: docker/setup-buildx-action@v3
      id: buildx

    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/${{ github.repository }}
        tags: |
          type=raw,value=latest,enable={{is_default_branch}}
          type=sha
          type=semver,pattern={{version}}

    - uses: docker/build-push-action@v6
      with:
        context: .
        file: deployments/Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
